<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<display-name>FrontController</display-name>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>by.tr.web.kinorating.controller.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/app</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistrationPage</servlet-name>
		<jsp-file>/WEB-INF/jsp/registration.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationPage</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AfterRegistration</servlet-name>
		<jsp-file>/WEB-INF/jsp/after-registration.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AfterRegistration</servlet-name>
		<url-pattern>/after-registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoviesPage</servlet-name>
		<jsp-file>/WEB-INF/jsp/movies.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoviesPage</servlet-name>
		<url-pattern>/movies</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddMoviePage</servlet-name>
		<jsp-file>/WEB-INF/jsp/add-movie.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMoviePage</servlet-name>
		<url-pattern>/movies/add-movie</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>
	<filter>
		<filter-name>log4jServletFilter</filter-name>
		<filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>log4jServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>by.tr.web.kinorating.controller.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>